<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>陳昭毅簡介20230921</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
	</style>

	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/OOR.jpg";
  			document.getElementById("h2text").innerText = "Zhao-Yi Chen";
		}

		
	</script>


</head>
<body>
	<table width="70%">
		<tr>
			<td>
	<img src="/static/OOR.jpg" width="110%"id="pic" onmouseover="change1()" onmouseout="change2()"></img>
    </td>

    <td>
	<h1>陳昭毅</h1>
	<h2 id="h2text">Zhao-Yi Chen</h2>
</td>
</tr>
</table>

<table width="70%" border="1">
	<tr>
		<td>
	個人網頁：<a href="https://www.facebook.com/jeremy.chen.73">https://www.facebook.com/jeremy.chen.73</a><br>
	FB：<a href="https://www.facebook.com/jeremy.chen.73" target="_blank">https://www.facebook.com/jeremy.chen.73</a><br>
	Tel: <a href="tel:0426328001,18110">04-26328001#18110</a><br>
	E-Mail: <a href="mailto:s1090913@pu.edu.tw">s1090913@pu.edu.tw</a><br>
</td>

<td>
    ONE OK ROCK - カゲロウ [中文字幕]<br>
	<audio controls>
		<source src="/static/ONE OK ROCK - カゲロウ [中文字幕].mp3" type="audio/mP3"
	</audio><br>
</td>

<td>

    用生命在拍英文報告<br>
    <iframe src="https://www.youtube.com/embed/v=7VFTcmGRM-k" allowfullscreen></iframe>
</td>
</tr>
</table>

</body>
</html>